.ForecastDay ul{
    list-style:none;
    border: 1px solid #5e5e5e;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 4px;
    text-align:center;
    font-size: 14px;
}
.ForecastDay .icon {
  height: 50px;
  padding-top: 0px;
  margin-top: -2px;
  margin-right: -8px;
}
.Maximum{
 font-weight: bold;
}